.detailsPredictionPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;  
}
.predictionDescription,
.predictionDetailsH2HContainer,
.predictionDetailsContainer,
.singlePredictionDetailContainer{
    border-radius: 8px;
    margin-bottom: 20px;
}
.singlePredictionDetailContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.predictionDescription p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    color: #7582EB;
}
.predictionDetailsContainer{
    display: flex;
    justify-content: space-between;
    width: 90%;
}