.pageContainer {
    display: flex;
    flex-direction: row;
}

.matchesContainer, .matchDetailsContainer {
    margin-top: 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.matchDetailsContainer {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
}