.pageContainer{
    display: flex;
    flex-direction: row;
    position: relative;
}
.matchesContainer,
.matchDetailsContainer{
    margin-top: 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.matchDetailsContainer{
    position: sticky;
    top: 40px;
}