.singleMatchContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #75FAC8;
    font-size: 12px
    
}
.teamResultWrapper{
    display: flex;
    justify-content: flex-start;
    width: 60%;
}  

.scoreWrapper{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width:20%;
    
    
    
}
.singleMatchContainer p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    
}

.singleMatchContainer:hover{
    background-color: #161D2C;
    cursor: pointer;
}
.nationFlag,
.leagueName{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    
}
.matchStatus{
    padding-left: 20px;
    padding-right: 40px;
    width: 5%;
}

.homeTeam,
.awayTeam{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
