.contact{
    width: 100%;
    height: 100%;
    display: flex;
    
}
.contactDescription{
    width: 50%;
    background: #0B0F19;
    height: 100vh;
}
.contactForm{
    width: 50%;
    background: #111827;
    height: 100vh;


}