.header {
    width: 100%;
    height: 70px;
    background-color: #111827;
    border-bottom: 1px solid #2D3748;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    border-radius: 10px;
    
}

.invisible {
    z-index: -2;
}
.guestWelcome{
    display: flex;
    flex-direction: column;
    color: #7582EB;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.guestWelcome p{
    margin-top: 10px;
    margin-bottom: 5px;
}
