.registerContainer{
    width: 35% !important;
    height: 570px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 12px;
    
}
.pleaseRegister{
    color: #7582EB;
}
.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.emailContainer,
.passwordContainer,
.rePassContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    width: 80%;
    
}
.registerFormInputStyle{
    width: 70%;
    height: 30px;
    background: transparent;
    border: 1px solid #2D3748;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    resize: none;
}
.registerFormInputStyle:hover {
    border: 1px solid white;
}

.registerFormInputStyle:focus {
    outline: none;
    border: 1px solid #7582EB;
}
.emailContainer label,
.passwordContainer label,
.rePasswordContainer label{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;

}

.registerButton {
    background: #7582EB;
    width: 40%;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-weight: 900;
    margin-bottom: 20px;
}

.registerButton:hover {
    background: #515BA4;
    cursor: pointer;
}