.navigation {
    display: flex;
    justify-content: center;
    margin-right: 50px;

    
}

.navigation .li{
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700; 
    text-decoration: none; 
    color: white;
    padding:10px 20px 10px 20px;
}
.navigation .li:hover{
    background: #161D2C;
    border-radius: 6px;
    border-color: #161D2C;
}

.navigation .login,
.navigation .register,
.navigation .logout{
  color: #75FAC8;
}

.logout{
    margin-left: 100px;
}
